.crud-container {
    width: 95%;
    max-width: 900px;
    margin: 30px auto;
    padding: 25px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #2c3e50;
    border-left: 5px solid #007bff;
    padding-left: 10px;
  }
  
  .form-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input, select {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  button {
    background-color: #007bff;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-size: 14px;
    margin: 0 15px 0px 0px;
  
    &:hover {
      background: #0056b3;
    }
  
    &.btn-danger {
      background: #e74c3c;
      &:hover {
        background: #c0392b;
      }
    }
  
    &.btn-warning {
      background: #f39c12;
      &:hover {
        background: #d68910;
      }
    }
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  
    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
  
    th {
      background-color: #f4f6f7;
      color: #2c3e50;
    }
  
    tr:hover {
      background-color: #f9f9f9;
    }

    .actions{

    }
  }

  
  
  .edit-box {
    background: #eef7ff;
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
    border: 1px solid #b3d1ff;
  }
  