nav {
    background: #202c3d;
    display: flex;
    gap: 15px;
    padding: 10px;
  
    a {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
      cursor: pointer;
  
    }
  
    a:hover {
      opacity: 0.7;
    }


    .logout {
      align-items: center;
      display: flex;
      margin-left: auto;
      color: #709fe6;
      gap: 15px;

      h3{
        font-size: 18px;
        margin: 0;
      }
    }
 
}

